.mainGrid {
    display: grid;
    grid-template-columns:1fr;

}


.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 60px 40px;
}

@media (min-width: 1368px) {
    .mainGrid {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (min-width: 1368px) {
    .tile {
        grid-template-columns:repeat(2, 1fr);
        padding: 140px 120px;
    }
}

.multipleTile {
    display: grid;
    grid-template-columns:1fr;
}


@media (min-width: 1368px) {
    .multipleTile {
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}


.tileWithBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/3f712d123638767.Y3JvcCw1MTEzLDQwMDAsNDQzLDA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0 80px;
    min-height: 400px;
}

.tileWithBackgroundTextWrapper {
    z-index: 2;
}

.overlay::before {

}

.overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(15, 10, 222, 0.9);
    z-index: 1;
}

.header {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 8px;
}

.subheader {
    color: blue;
}

.button {
    background: transparent;
    border: 2px solid blue;
    text-transform: uppercase;
    color: blue;
    padding: 10px 20px;
}


.paragraph {
    margin-bottom: 32px;
    text-align: justify;
}